* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: #434343;
}

h1, h2, h3, h4, h5, h6, p, label, span {
  color: #f9f9f9;
}

.page-content {
  width: 100%;
}

.page-content .content {
  margin: 0 100px;
}

.page-content .content .header {
  margin-top: 45px;
  margin-bottom: 35px;
}

.page-content .content .header .app-title {
  font-weight: 400;
  color: #44a5ff;
}

.page-content .content .grid-content {
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-gap: 15px;
  height: 100%;
}

.card {
  border-radius: 15px;
  background-color: #474747;
  width: 100%;
  height: max-content;
}

.card .card-content {
  padding: 30px;
}

.btn-check input {
  display: none;
}

.btn-check label {
  padding: 0 18px;
  border-radius: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #44a5ff;
  border: 1px solid #44a5ff;
  transition: 200ms;
  height: 35px !important;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  padding: 0;
}

.covid-image img {
  width: 220px;
  border-radius: 50%;
}

.covid-image {
  border-radius: 50%;
  overflow: hidden;
  width: 140px;
  height: 140px;
  background-color: #000;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 85px auto;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.flex {
  display: block;
  flex-wrap: wrap;

}

ul.flex li {
  margin: 3px 5px;
}

.card-content ul.flex {
  margin: -3px -5px;
}

.card-light, .card-danger, .card-warn, .card-info {
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  transform: enter-chart ease-in-out;
}

.card-light>div, .card-danger>div, .card-warn>div, .card-info>div {
  margin: 0 25px;
}

.card-light {
  background-color: #44a5ff;
  padding: 15px 0;
  color: #f9f9f9;
  box-shadow: 0 5px 5px #3b99f11e;
}

.card-light div:first-child {
  font-size: 26px;
  border-bottom: 1px solid #3b99f1;
  margin-bottom: 5px;
}

.card-light div:last-child {
  font-weight: bold;
  font-size: 12px;
}

.card-danger {
  background-color: #e63946;
  color: #f9f9f9;
  box-shadow: 0 5px 5px #e639461e;
}

.card-danger div:first-child {
  font-size: 26px;
  border-bottom: 1px solid #c53642;
  margin-bottom: 5px;
}

.card-danger div:last-child {
  font-weight: bold;
  font-size: 12px;
}

.card-warn {
  background-color: #e9c46a;
  color: #f9f9f9;
  box-shadow: 0 5px 5px #e9c46a1e;
}

.card-warn div:first-child {
  font-size: 26px;
  border-bottom: 1px solid #c5a75b;
  margin-bottom: 5px;
}

.card-warn div:last-child {
  font-weight: bold;
  font-size: 12px;
}

.card-info {
  background-color: #e76f51;
  color: #f9f9f9;
  box-shadow: 0 5px 5px #e76f511e;
}

.card-info div:first-child {
  font-size: 26px;
  border-bottom: 1px solid #be5d44;
  margin-bottom: 5px;
}

.card-info div:last-child {
  font-weight: bold;
  font-size: 12px;
}

.cards-inline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.btn-check input:checked+label {
  color: #f9f9f9;
  background-color: #44a5ff;
}

.ds-cm {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #44a5ff;
  display: block;
}

@media (max-width: 720px) {
  .page-content .content {
    margin: 0 30px;
  }
  .page-content .content .header {
    margin-top: 15px;
  }
  .page-content .content .grid-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .covid-image {
    display: none;
  }
}